//高度类
//首页头部高度
$header-height: 0.65rem;
//模型编辑头部高度
$modelEditorNav-height: 0.3rem;
$modelEditorOption-height: 0.8rem;

//宽度类
//模型编辑侧边栏宽度
$modelEditorSider-width: 3rem; //行间样式，更改无效

//颜色类
$theme-color: #e0607b;
$borderGray: #dcdcdc;
$backgroundGray: #f2f2f2;

